$LightBlue: #01abcf;
$White: #f7f7f7;
$Gold: #926d00;
$Black: #1e2329;
$Orange: rgb(247, 147, 30);
$DarkBlue: rgb(27, 20, 100);
$ClearText: #8b91da;
$Pink: #fc1ab8;
$TransparentPink: #fc1ab811;
$SectionBackground: #dee4ef;
